.contacts-list {
    text-align: center;
    background: linear-gradient(135deg, #5c069e, #03a2b7);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    animation: gradientAnimation 20s linear infinite;
    background-size: 200% 200%;
    color: white;
}
h2 {
    font-size: 36px;
}
.searcher {
    display: flex;
    padding: 7px 8px;
    align-items: center;
    align-self: stretch;
    font-size: 16px;
    width: 340px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: var(--fills-tertiary-dark, rgba(118, 118, 128, 0.24));
    color: white;
    margin-bottom: 5%;
}  
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.contact-item {
    width: 300px;
    border-radius: 12px;
    background: var(--materials-regular-dark, linear-gradient(0deg, #8C8C8C 0%, #8C8C8C 100%), rgba(37, 37, 37, 0.82));
    background-blend-mode: overlay, normal;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(75px);
    padding: 10%;
    margin: 5%;
}
  
.contact-item:hover {
    background-color: #820099;
}

.selected {
    background-color: #820099;
}

.contact {
    font-size: 16px;
    text-align: left;
}
.checkbox {
    border-radius: 100px;
    background: var(--colors-blue, #0A84FF);
    backdrop-filter: blur(20px);
    border: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}